html {
    height: 150vh;    
}

.img {
    border: 2px solid black;
    width: 50%;
    height: 20vh;
    margin-bottom: 1rem;
    background-color: tomato;

}

.nav {
    background-color: aquamarine;
    border: 2px solid black;
    height: 10vh;
    position: sticky;
    top: 0;
}
